<div class="bg" style="background-repeat: repeat; background-size: auto; background-image: url(images/textureBackground.png);"></div>
<div class="pageContent">
    <app-nav-bar title="RSVP"></app-nav-bar>
    <div class="primaryContent" style="text-align: center;">
        <div *ngIf="currentParty.authenticated">
            <div class="partyName cursiveText">{{currentParty.party}}</div>
            <div class="cursiveText" style="margin-top: 10px; font-size: 28px;">You are invited to the wedding of Jessica Peebles and Jason Halcomb! We look forward to seeing you!</div>
            <hr style="width: 75%; margin-top: 30px;">
            <div *ngIf="!currentParty.responded">
                <div *ngIf="currentPage == 1">
                    <div class="standardText" style="margin-top: 10px; font-size: 25px;">Will you be attending the wedding at 5pm on Saturday (7/2)?</div>
                    <div style="margin-top: 30px;">
                        <div class="rsvpItem standardText" style="width: 400px;">Name</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Delightfully Accept</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Regretfully Decline</div>
                    </div>
                    <div *ngFor="let guest of currentParty.guests;" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="rsvpItem" style="width: 400px; vertical-align: top;"><input class="standardInput" style="width: 95%;" [(ngModel)]="guest.name"></div>
                        <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.rsvp" [value]="true"></div>
                        <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.rsvp" [value]="false"></div>
                    </div>
                    <div class="standardText" style="font-style: italic; margin-bottom: 20px;">Please include first and last name for all guests and check spelling carefully!</div>
                    <div style="height: 30px; display: inline-block; vertical-align: middle;">
                        <div class="pageIndicator pageSelected"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-left: 20px;" (click)="navRSVP(true)">Next</button>
                </div>
                <div *ngIf="currentPage == 2">
                    <div class="standardText" style="margin-top: 10px; font-size: 25px;">Will you be attending the Welcome Dinner at 6pm on Friday (7/1)?</div>
                    <div style="margin-top: 30px;">
                        <div class="rsvpItem standardText" style="width: 300px;">Name</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Delightfully Accept</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Regretfully Decline</div>
                    </div>
                    <div *ngFor="let guest of currentParty.guests;" style="margin-top: 10px; margin-bottom: 10px;">
                        <div *ngIf="guest.rsvp">
                            <div class="rsvpItem" style="width: 300px; vertical-align: top;"><div class="standardText" style="font-weight: normal;">{{guest.name}}</div></div>
                            <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.dinner_rsvp" [value]="true"></div>
                            <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.dinner_rsvp" [value]="false"></div>
                        </div>    
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-right: 20px;" (click)="navRSVP(false)">Back</button>
                    <div style="height: 30px; display: inline-block;">
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator pageSelected"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-left: 20px;" (click)="navRSVP(true)">Next</button>
                </div>
                <div *ngIf="currentPage == 3">
                    <div class="standardText" style="margin-top: 10px; font-size: 25px;">Will you be attending the Family/Friend Reunion on Sunday (7/3)?</div>
                    <div style="margin-top: 30px;">
                        <div class="rsvpItem standardText" style="width: 300px;">Name</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Delightfully Accept</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Regretfully Decline</div>
                    </div>
                    <div *ngFor="let guest of currentParty.guests;" style="margin-top: 10px; margin-bottom: 10px;">
                        <div *ngIf="guest.rsvp">
                            <div class="rsvpItem" style="width: 300px; vertical-align: top;"><div class="standardText" style="font-weight: normal;">{{guest.name}}</div></div>
                            <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.reunion_rsvp" [value]="true"></div>
                            <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.reunion_rsvp" [value]="false"></div>
                        </div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-right: 20px;" (click)="navRSVP(false)">Back</button>
                    <div style="height: 30px; display: inline-block;">
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator pageSelected"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-left: 20px;" (click)="navRSVP(true)">Next</button>
                </div>
                <div *ngIf="currentPage == 4">
                    <div class="standardText" style="margin-top: 10px; font-size: 25px;">Would you like to participate in the organized camp games at the Family/Friend Reunion on Sunday (7/3)?</div>
                    <div style="margin-top: 30px;">
                        <div class="rsvpItem standardText" style="width: 300px;">Name</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Delightfully Accept</div>
                        <div class="rsvpItem standardText" style="width: 200px; text-align: center;">Regretfully Decline</div>
                    </div>
                    <div *ngFor="let guest of currentParty.guests;" style="margin-top: 10px; margin-bottom: 10px;">
                        <div *ngIf="guest.reunion_rsvp">
                            <div class="rsvpItem" style="width: 300px; vertical-align: top;"><div class="standardText" style="font-weight: normal;">{{guest.name}}</div></div>
                            <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.games_rsvp" [value]="true"></div>
                            <div class="rsvpItem" style="width: 200px; text-align: center;"><input type="radio" name="{{guest.guest_id}}RSVP" [(ngModel)]="guest.games_rsvp" [value]="false"></div>
                        </div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-right: 20px;" (click)="navRSVP(false)">Back</button>
                    <div style="height: 30px; display: inline-block;">
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator pageSelected"></div>
                        <div class="pageIndicator"></div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-left: 20px;" (click)="navRSVP(true)">Next</button>
                </div>
                <div *ngIf="currentPage == 5">
                    <div class="standardText" style="margin-top: 10px; font-size: 25px;">We love hearing from all of you! Feel free to fill out any or all of the following optional fields.</div>
                    <div style="margin-top: 30px;">
                        <input class="standardInput" style="width: calc(100% - 200px); margin-bottom: 10px; width: 400px; max-width: 95%; text-align: center;" [(ngModel)]="suggestedSong" placeholder="Suggest a song to dance to!">
                        <br>
                        <input class="standardInput" style="width: calc(100% - 200px); margin-bottom: 10px; width: 400px; max-width: 95%; text-align: center;" [(ngModel)]="userComment" placeholder="Leave us a message! (visible to all guests)">
                        <br>
                        <input class="standardInput" style="width: calc(100% - 200px); margin-bottom: 20px; width: 400px; max-width: 95%; text-align: center;" [(ngModel)]="userZipCode" placeholder="Add a pin on our map! (zip code)">
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-right: 20px;" (click)="navRSVP(false)">Back</button>
                    <div style="height: 30px; display: inline-block;">
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator"></div>
                        <div class="pageIndicator pageSelected"></div>
                    </div>
                    <button class="standardButton" style="display: inline-block; margin-left: 20px;" (click)="submitRSVP()">Submit</button>
                </div>
            </div>
            <div *ngIf="currentParty.responded" style="margin-bottom: 10px;">
                <div class="standardText" style="font-size: 25px;">Thank you for your response!</div>
                <div class="confirmText">
                    <div style="margin-top: 30px; margin-left: -30px;">
                        <div class="rsvpItem standardText" style="vertical-align: bottom; width: 20%;">Name</div>
                        <div class="rsvpItem standardText" style="vertical-align: bottom; width: 20%; text-align: center;">Wedding (7/2)</div>
                        <div class="rsvpItem standardText" style="vertical-align: bottom; width: 20%; text-align: center;">Welcome Dinner (7/1)</div>
                        <div class="rsvpItem standardText" style="vertical-align: bottom; width: 20%; text-align: center;">Family/Friend Reunion (7/3)</div>
                    </div>
                    <div *ngFor="let guest of currentParty.guests;" style="margin-top: 10px; margin-bottom: 10px; margin-left: -30px;">
                        <div class="rsvpItem" style="width: 20%; vertical-align: top;"><div class="standardText" style="font-weight: normal;">{{guest.name}}</div></div>
                        <div class="rsvpItem" style="width: 20%; vertical-align: top; text-align: center;"><div class="standardText" style="font-weight: normal;">{{guest.rsvp ? "Accepted" : "Declined"}}</div></div>
                        <div class="rsvpItem" style="width: 20%; vertical-align: top; text-align: center;"><div class="standardText" style="font-weight: normal;">{{guest.dinner_rsvp ? "Accepted" : "Declined"}}</div></div>
                        <div class="rsvpItem" style="width: 20%; vertical-align: top; text-align: center;"><div class="standardText" style="font-weight: normal;">{{guest.reunion_rsvp ? "Accepted" : "Declined"}}</div></div>
                    </div>
                </div>
                <button class="standardButton" (click)="submitRSVP()">Change Response</button>
            </div>
            <hr style="width: 75%;">
            <div class="standardText" style="margin-top: 10px; font-size: 16px;">Please see <a href="/wedding">Our Wedding</a> for more details or email us at jjwedding0703@gmail.com with questions!</div>
            <div *ngIf="currentParty.admin" style="text-align: left; margin-top: 20px;">
                <div *ngFor="let object of adminData | keyvalue : orderbyValueAsc" style="break-inside: avoid-column; margin-bottom: 15px;">
                    <div class="standardText" style="font-weight: bold; float: left;">{{object.value.party.party}} - {{object.value.party.access_code}}</div>
                    <div class="standardText" *ngIf="object.value.party.email" style="margin-left: 50px; float: right;">{{object.value.party.email}}</div>
                    <hr style="margin-top: 0px; clear: both;">
                    <div *ngFor="let guest of object.value.guests">
                        <div class="standardText" style="margin-left: 10px; display: inline-block; width: 20%;" [ngStyle]="{'color': object.value.party.responded ? guest!.rsvp ? 'green' : 'red' : guest!.rsvp ? 'orange' : 'black'}">{{guest!.name}}</div>
                        <div class="standardText" style="margin-left: 10px; display: inline-block; width: 20%;" [ngStyle]="{'color': object.value.party.responded ? guest!.dinner_rsvp ? 'green' : 'red' : 'black'}">Dinner</div>
                        <div class="standardText" style="margin-left: 10px; display: inline-block; width: 20%;" [ngStyle]="{'color': object.value.party.responded ? guest!.reunion_rsvp ? 'green' : 'red' : 'black'}">Reunion</div>
                        <div class="standardText" style="margin-left: 10px; display: inline-block; width: 20%;" [ngStyle]="{'color': object.value.party.responded ? guest!.games_rsvp ? 'green' : 'red' : 'black'}">Games</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!currentParty.authenticated" class="standardText" style="font-size: 30px;">Please log in to RSVP!</div>
        <div *ngIf="warningPopupShowing" class="warningPopup">
            <div class="standardText">Your response has not been recorded! Please press 'Submit' to record your response!</div>
            <button class="standardButton" (click)="warningPopupShowing = false;">Close</button>
        </div>
    </div>
    <app-login></app-login>
    <app-footer></app-footer>
</div>