.bg {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pageContent {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.leftCommunityGroup {
    float: left;
    width: 49%;
}
.rightCommunityGroup {
    float: right;
    width: 49%;
}
.communityItem {
    text-align: center;
    width: calc (100% - 30px);
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}
.deleteButton {
    float: right;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 29px;
    margin-left: 0px;
}
#map {
    height: 400px;
    width: 100%;
}
@media (max-width: 700px) {
    .leftCommunityGroup {
        width: 100%;
        float: none;
    }
    .rightCommunityGroup {
        width: 100%;
        float: none;
    }
}