<div class="accountButton" (click)="accountWindowShowing = true">
    {{currentParty.authenticated ? (currentParty.party[0] + currentParty.party[1]).toUpperCase() : "☃︎"}}
</div>
<div class="popup" *ngIf="accountWindowShowing">
    <div *ngIf="!currentParty.authenticated">
        <div class="cursiveText" style="text-align: center; font-size: 40px; margin-top: -10px;">Welcome!</div>
        <input class="standardInput" type="text" placeholder="Access Code" [(ngModel)]="access_code">
        <button class="standardButton" (click)="authenticateParty()">Login</button>
        <button class="standardButton" (click)="accountWindowShowing = false">Close</button>
        <div class="standardText" style="width: 400px; word-wrap: normal; font-size: 15px;">If you have lost your access_code, please email us at jjwedding0703@gmail.com</div>
    </div>
    <div *ngIf="currentParty.authenticated">
        <div class="cursiveText" style="font-weight: bold; font-size: 40px; margin-left: 8px;">Welcome {{currentParty.party}}!</div>
        <div class="standardText" *ngIf="currentParty.email" style="display: inline-block; margin-right: 10px;">{{currentParty.email}}</div>
        <button class="standardButton" *ngIf="currentParty.email" style="display: inline-block; margin-bottom: 10px; margin-top: 10px;" (click)="currentParty.email = ''">Change</button>
        <br>
        <div *ngIf="!currentParty.email">
            <input class="standardInput" style="margin-top: 10px;" type="text" placeholder="Email" [(ngModel)]="email">
            <button class="standardButton" (click)="updateEmail()">Submit</button>
            <div class="standardText" style="margin-bottom: 10px; font-size: 15px;">Please provide an email so that we can contact you with important updates!</div>
        </div>
        <button class="standardButton" (click)="logoutUser()">Logout</button>
        <button class="standardButton" (click)="accountWindowShowing = false">Close</button>
    </div>
</div>