<div class="bg" style="background-repeat: repeat; background-size: auto; background-image: url(images/textureBackground.png);"></div>
<div class="pageContent">
    <app-nav-bar title="Our Wedding"></app-nav-bar>
    <div class="primaryContent" style="text-align: center;">
        <div *ngIf="!currentParty.authenticated" class="standardText" style="font-size: 30px; text-align: center; margin-bottom: 30px;">Please log in to view wedding details!</div>
        <div class="subheader">When?</div>
        <div class="cursiveText header" style="padding-left: 25px;">July 2-3, 2022</div>
        <app-countdown></app-countdown>
        <div *ngIf="currentParty.authenticated">
            <div class="standardText" style="margin-bottom: 20px; margin-top: 10px;">Our ceremony and reception will be on the 2nd and the celebration will continue with family, friends, games, and food on the 3rd! Please <a href="rsvp">RSVP</a> as soon as possible so we can get everything ready, we look forward to seeing all of you! See our <a href="faq">FAQs</a> for more information.</div>
            <div style="height: 50px;"></div>
            <div class="subheader" style="margin-bottom: 0px;">What?</div>
            <div class="standardText" style="margin-top: 10px;">See our wedding weekend schedule below and checkout our <a href="faq">FAQs</a> for more information!</div>
            <div class="weddingBlock" style="margin-bottom: 20px; text-align: left; float: left; min-width: 400px;">
                <h2>Friday, July 1</h2>
                <div class="standardText" style="font-weight: bold;">6:00 PM - Rehearsal/Welcome Dinner</div>
                <li>This dinner is at Anderson Lodge for people arriving Friday who would like to meet everyone!</li>
            </div>
            <div class="weddingBlock" style="margin-bottom: 20px; text-align: left; float: right; min-width: 400px;">
                <h2>Saturday, July 2</h2>
                <div class="standardText" style="font-weight: bold;">3:00 PM - Set up at Empress Estates</div>
                <li>This is only for people who have been asked to help with setup</li>
                <div class="standardText" style="font-weight: bold;">4:30 PM - Seating opens for ceremony</div>
                <li>Please arrive at this time for the ceremony!</li>
                <div class="standardText" style="font-weight: bold;">5:00 PM - Wedding Ceremony!</div>
                <div class="standardText" style="font-weight: bold;">5:30 PM - Cocktail Hour</div>
                <li>Time to get to know the new extended family!</li>
                <div class="standardText" style="font-weight: bold;">6:30 PM - Dinner at Empress</div>
                <div class="standardText" style="font-weight: bold;">7:30 PM-10:00 PM - Party/Music/Dancing</div>
                <li>Let's celebrate, everyone should be on the dance floor!</li>
                <div class="standardText" style="font-weight: bold;">11:00 PM - Afterparty</div>
                <li>After party at Anderson Lodge for anyone who wants to keep the party going!</li>
            </div>
            <div class="weddingBlock" style="margin-bottom: 20px; text-align: left; float: left; min-width: 400px;">
                <h2>Sunday, July 3</h2>
                <div class="standardText" style="font-weight: bold;">All Day - Family and Friends Reunion!</div>
                <li>Get ready for fun at Anderson Lodge, friendly competitions between the girls and the boys!</li>
                <li>We can't wait to catch-up with all of our out of town guests!</li>
                <div class="standardText" style="font-weight: bold;">9:00 AM - Breakfast at Anderson</div>
                <div class="standardText" style="font-weight: bold;">12:00 PM - Lunch at Anderson</div>
                <div class="standardText" style="font-weight: bold;">6:00 PM - Dinner at Anderson</div>
                <div class="standardText" style="font-weight: bold;">7:00 PM - Signing the marriage license and shoe game</div>
                <div class="standardText" style="font-weight: bold;">8:30 PM - Bonfire</div>
                <div class="standardText" style="font-weight: bold;">10:00 PM - Grand Finale (you don't want to miss it)</div>

            </div>
            <br style="clear: both;">
            <div class="subheader">Where?</div>
            <div class="cursiveText header">Woodland, WA</div>
            <div class="standardText" style="margin-bottom: 20px;">Woodland, WA is a hidden gem about 2.5 hours south of Seattle and 30 minutes north of Portland defined by stunning landscapes only seen in the PNW. See our <a href="travel">travel page</a> or <a href="faq">FAQs</a> for more information!</div>
            <div class="weddingBlock" style="margin-bottom: 20px;">
                <img src="images/wedding/empress.jpeg" class="weddingBlockImage" style="height: auto;">
                <div class="standardText" style="font-weight: bold;"><a target="_blank" href="https://www.theempressestate.com">Empress Estate</a> - Woodland Chateau</div>
                <div class="standardText">Gorgeous forest gardens with views of the valley, surrounding rivers, and sunset over the mountains! This venue will host our ceremony and reception.</div>
            </div>
            <div class="weddingBlock" style="margin-bottom: 20px;">
                <img src="images/wedding/anderson.jpeg" class="weddingBlockImage" style="height: auto;">
                <div class="standardText" style="font-weight: bold;"><a target="_blank" href="https://www.andersonlodge.com">Anderson Lodge</a> - Hilltop House</div>
                <div class="standardText">75 acres of fun in the middle of the beautiful Washington mountains, with stunning views of the valley! This venue will host our family and friend reunion on the 3rd.</div>
            </div>
            <div class="subheader">Who?</div>
            <div class="weddingBlock">
                <img src="images/wedding/jason.jpg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Jason Halcomb - Groom</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/jessica.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Jessica Peebles - Bride</div>
            </div>
            <br>
            <div class="weddingBlock">
                <img src="images/wedding/chase.png" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Chase Eaton - Best Man</div>
                <div class="standardText">College Friend - Est. 2016 - Seattle, WA</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/erica.jpg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Erica Spence - Maid of Honor</div>
                <div class="standardText">Childhood Friend - Est. 2009 - Tucson, AZ</div>
            </div>
            <br>
            <div class="weddingBlock">
                <img src="images/wedding/daniel.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Daniel Halcomb - Groomsman</div>
                <div class="standardText">Brother - Est. 1998 - Boise, ID</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/keegan.jpg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Keegan Lapham - Maid of Honor</div>
                <div class="standardText">Boeing Friend - Est. 2018 - Charleston, SC</div>
            </div>
            <br>
            <div class="weddingBlock">
                <img src="images/wedding/nels.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Nels Knechtel - Groomsman</div>
                <div class="standardText">College Friend - Est. 2015 - Seattle, WA</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/victoria.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Victoria Pereault - Bridesmaid</div>
                <div class="standardText">College Friend - Est. 2017 - Phoenix, AZ</div>
            </div>
            <br>
            <div class="weddingBlock">
                <img src="images/wedding/andrew.jpg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Andrew Rink - Groomsman</div>
                <div class="standardText">College Friend - Est. 2016 - Port Orchard, WA</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/jiang.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Jessica Jiang - Bridesmaid</div>
                <div class="standardText">Boeing Friend - Est. 2018 - Seattle, WA</div>
            </div>
            <br>
            <div class="weddingBlock">
                <img src="images/wedding/dietrich.PNG" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Dietrich Reidenbaugh - Groomsman</div>
                <div class="standardText">Highschool Friend - Est. 2014 - Seattle, WA</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/amber.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Amber Halcomb - Bridesmaid</div>
                <div class="standardText">Future Sister - Est. 2018 - Pullman, WA</div>
            </div>
            <br>
            <div class="weddingBlock">
                <img src="images/wedding/frank.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Frank Salmick - Groomsman</div>
                <div class="standardText">College Friend - Est. 2016 - Seattle, WA</div>
            </div>
            <div class="weddingBlock">
                <img src="images/wedding/kristen.jpeg" class="weddingBlockImage">
                <div class="standardText" style="font-weight: bold;">Kristen Halcomb - Bridesmaid</div>
                <div class="standardText">Future Sister - Est. 2018 - Boise, ID</div>
            </div>
            <br>
            <div class="standardText" style="font-size: 25px; font-weight: bold; margin-bottom: 10px;">Something Blue Crew</div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Jodi Kreiner</div>
                <div class="standardText">Sorority Sister - Est. 2017 - Los Angeles, CA</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Amber Davis</div>
                <div class="standardText">College Friend - Est. 2018 - Tucson, AZ</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Briana Staheli</div>
                <div class="standardText">Boeing Friend - Est. 2019 - St. Louis, MO</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Brianna Kent</div>
                <div class="standardText">Childhood Friend - Est. 2009 - Lawrence, KS</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Emily Morton</div>
                <div class="standardText">Childhood Friend - Est. 2009 - Phoenix, AZ</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Kelly Baker</div>
                <div class="standardText">Childhood Friend - Est. 2009 - Phoenix, AZ</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Sierra Gilmore</div>
                <div class="standardText">Childhood Friend - Est. 2009 - Phoenix, AZ</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Callyn Couture</div>
                <div class="standardText">Sorority Sister - Est. 2016 - Bellevue, WA</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Cecilia Stoesser</div>
                <div class="standardText">SWEester - Est. 2017 - Ogden, UT</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Diana Thurgood</div>
                <div class="standardText">Freshman Roomie - Est. 2016 - Tucson, AZ</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Elena Bryant</div>
                <div class="standardText">Boeing Friend - Est. 2020 - Seattle, WA</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Elizabeth Barnitt</div>
                <div class="standardText">SWEester - Est. 2017 - Seattle, WA</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Jaycie Eaton</div>
                <div class="standardText">Sorority Sister - Est. 2016 - Phoenix, AZ</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Kaitlyn Molloy</div>
                <div class="standardText">College Friend - Est. 2016 - Phoenix, AZ</div>
            </div>
            <br>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Myriam Khalil</div>
                <div class="standardText">Boeing Friend - Est. 2021 - Seattle, WA</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Saylor Stratton</div>
                <div class="standardText">Sorority Sister - Est. 2017 - Tucson, AZ</div>
            </div>
            <div class="weddingBlock">
                <div class="standardText" style="font-weight: bold;">Mica Joboram</div>
                <div class="standardText">Boeing Friend - Est. 2018 - Las Angeles, CA</div>
            </div>
            <br>
        </div>
    </div>
    <app-login></app-login>
    <app-footer></app-footer>
</div>