<div class="bg" style="background-color: antiquewhite;"></div>
<div class="pageContent">
    <app-nav-bar title="Registry"></app-nav-bar>
    <div class="primaryContent" style="text-align: center;">
        <div class="cursiveText" style="font-size: 50px;">Celebrating with you on our special day is the only gift we require!</div>
        <div class="standardText">However, if you would like to buy
            a gift, we have put together the following registries with items that would be most useful as we start our new life together.  
            MyRegistry.com has almost everything on it but, if you would prefer, the links below go to our specific site registries! 
            Thank you!</div>
        <div style="text-align: center; width: 100%; position: relative; z-index: 10;">
            <a href="https://www.amazon.com/wedding/jessica-peebles-jason-halcomb-seattle-july-2022/registry/20OOX6PK2HYTS"><div class="registryImage" style="background-image: url('images/amazon.png');"></div></a>
            <a href="https://www.crateandbarrel.com/gift-registry/jessica-peebles/r6370048"><div class="registryImage" style="background-image: url('images/target.png');"></div></a>
            <a href="https://www.target.com/gift-registry/gift-giver?registryId=4edd5780-0ae5-11ec-acca-812be860a0c8&type=WEDDING&registrant=true"><div class="registryImage" style="background-image: url('images/crateandbarrel.png');"></div></a>
        </div>
        <div id="registryContent" style="position: relative; margin-top: -100px; z-index: 1;">
            <div style="background-color: antiquewhite; width: 100%; height: 100px; top: 0px; position: absolute;"></div>
            <div style="background-color: antiquewhite; width: 100%; height: 200px; bottom: 0px; position: absolute;"></div>
            <div style="background-color: antiquewhite; width: 100px; height: 100%; top: 0px; left: 0px; position: absolute;"></div>
            <div style="background-color: antiquewhite; width: 100px; height: 100%; top: 0px; right: 0px; position: absolute;"></div>
        </div>
    </div>
    <app-login></app-login>
</div>