.menuBar {
    width: 100%;
    font-size: 20px;
    background: rgba(255,255,255,0.6);
    position: fixed;
    z-index: 50;
}
.menuButton {
    font-size: 20px;
    border: 2px black solid;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255,255,255,0.6);
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Chancery, cursive;
}
.menuButton:hover {
    border: 2px navy solid;
    color: navy;
}
.menuButton:active {
    box-shadow: none;
}
.menuItem {
    vertical-align: middle;
    line-height: 75px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 90px;
}
.pageTitle {
    clear: both;
    display: inline-block;
    margin-top: 10px;
    font-size: 80px;
    width: 100%;
    text-align: center;
}
.menuButtonGroup {
    float: left;
}
@media (max-width: 1000px) {
    .menuItem {
        width: 100%;
    }
    .menuBar {
        text-align: center;
    }
    .menuButtonGroup {
        float: none;
    }
    .spacer {
        height: 150px;
    }
}
@media (max-width: 600px) {
    .spacer {
        height: 225px;
    }
}