<div class="menuBar">
    <img src="images/hamburgerMenu.png" class="menu-mobile-button" (click)="toggleMenu()">
    <a class="menuItem-mobile cursiveText" href="home">Jason & Jessica</a>
    <div class="menuButtonGroup">
        <a class="menuButton" href="story">Our Story</a>
        <a class="menuButton" href="wedding">Our Wedding</a>
        <a class="menuButton" href="rsvp">RSVP</a>
        <a class="menuButton" href="travel">Travel</a>
        <a class="menuButton" href="registry">Registry</a>
        <a class="menuButton" href="community">Community</a>
        <a class="menuButton" *ngIf="currentParty.bridal_shower" href="bridalshower">Bridal Shower</a>
    </div>
    <a class="menuItem cursiveText" href="home">Jason & Jessica</a>
    <div *ngIf="menuShowing" class="menu-mobile">
        <a class="menuButton" href="story">Our Story</a>
        <a class="menuButton" href="wedding">Our Wedding</a>
        <a class="menuButton" href="rsvp">RSVP</a>
        <a class="menuButton" href="travel">Travel</a>
        <a class="menuButton" href="registry">Registry</a>
        <a class="menuButton" href="community">Community</a>
        <a class="menuButton" *ngIf="currentParty.bridal_shower" href="bridalshower">Bridal Shower</a>
    </div>
</div>
<img src="images/cornerFlowers.png" class="flowersLeft">
<img src="images/cornerFlowers.png" class="flowersRight">
<div class="pageTitle standardText">{{title}}</div>
<hr style="width: 95%;">