.menuBar {
    width: 100%;
    font-size: 20px;
    background: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 50;
}
.menuButton {
    font-size: 20px;
    border: 2px black solid;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255,255,255,0.6);
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: Chancery, cursive;
}
.menuButton:hover {
    border: 2px navy solid;
    color: navy;
}
.menuButton:active {
    box-shadow: none;
}
.menuItem {
    vertical-align: middle;
    line-height: 75px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    float: right;
    margin-right: 90px;
}
.menuItem-mobile {
    display: none;
}
.pageTitle {
    clear: both;
    display: inline-block;
    margin-top: 10px;
    font-size: 80px;
    width: 100%;
    text-align: center;
}
.menuButtonGroup {
    float: left;
}
.menu-mobile-button {
    display: none;
}
.flowersLeft {
    float: left;
    transform: scaleX(-1);
    height: 300px;
    margin-bottom: -150px;
    width: 45%;
}
.flowersRight {
    float: right;
    height: 300px;
    margin-bottom: -150px;
    width: 45%;
}
@media (max-width: 1150px) {
    .menuItem {
        display: none;
    }
    .menuItem-mobile {
        display: inline-block;
        font-size: 35px;
        color: black;
        text-decoration: none;
        margin-top: 10px;
        margin-left: -50px;
    }
    .menuBar {
        text-align: center;
    }
    .menuButtonGroup {
        display: none;
    }
    .menuBar {
        height: 75px;
        vertical-align: middle;
    }
    .menu-mobile-button {
        display: block;
        width: 30px;
        height: 25px;
        float: left;
        cursor: pointer;
        padding: 25px;
    }
    .menu-mobile {
        margin-top: 19px;
        width: 100%;
        background: rgba(255,255,255,0.9);
        padding-bottom: 5px;
    }
    .flowersLeft {
        height: 220px;
        width: 50%;
    }
    .flowersRight {
        height: 220px;
        width: 50%;
    }
    .pageTitle {
        position: relative;
        font-size: 50px;
    }
}