<div class="bg" style="background-image: url('images/engagement.jpg');">
    <img *ngIf="fireworksShowing" [@fireworkAnimation]="fireworksShowing ? 'fireworksIn': 'fireworksOut'" class="fireworks" src="images/fireworks.gif"/>
    <div style="text-align: center;">
        <div class="title">{{title}}</div>
    </div>
    <div class="menuBar">
        <span class="menuItem">July 2, 2022 - Woodland, WA</span>
        <a class="menuButton" href="story">Our Story</a>
        <a class="menuButton" href="wedding">Our Wedding</a>
        <a class="menuButton" href="rsvp">RSVP</a>
        <a class="menuButton" href="travel">Travel</a>
        <a class="menuButton" href="registry">Registry</a>
        <span class="menuItem" href="story">{{countdown}}</span>
    </div>
</div>