<div class="timer" style="padding-right: 75px;">
    <div style="white-space: nowrap; display: inline-block;"><span id="days" style="width: 100px;"> {{daysToDday}} </span>Days</div>
    <div style="white-space: nowrap; display: inline-block;"><span id="hours"> {{hoursToDday}} </span>Hours</div>
    <div style="white-space: nowrap; display: inline-block;"><span id="minutes"> {{minutesToDday}} </span>Minutes</div>
    <div style="white-space: nowrap; display: inline-block;"><span id="seconds"> {{secondsToDday}} </span>Seconds</div>
</div>