.timer {
  text-align: center;
  font-family: Chancery, cursive;
  font-size: 1.4em;
  letter-spacing: -1px;
  display: inline-block;
}
.timer span {
  font-size: 2em;
  margin: 0 5px 0 15px;
  width: 75px;
  display: inline-block;
  text-align: right;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .timer span {
      font-size: 40px;
      width: 40%;
  }
}