<div class="bg" style="background-repeat: repeat; background-size: auto; background-image: url(images/textureBackground.png);"></div>
<div class="pageContent">
    <app-nav-bar title="Our Story"></app-nav-bar>
    <div class="primaryContent">
        <div class="subheader">Coming Soon!</div>
        <div style="display: none;">
            <div class="subheader">Timeline</div>
            <div class="subheader">Fun Facts</div>
            <ul>
                <li>Jessica and Jason have a tradition of going to Nibbana every time they come back from a trip or their anniversary. Their order: Chicken Pad Thai to share (spicy level 2). This tradition originally started with their intern friend group the summer they met and carried through long distance.</li>
                <li>Every year, on their anniversary, Jason gives Jessica a necklace and Jessica gives Jason a scrapbook she made of the year's amazing events and then they go to Muckleshoot Casino to watch a flurry of nonstop fireworks.</li>
                <li>Their Galapagos + Peru trip was the farthest south either one of them have been, and the first time they went to South America</li>
                <li>Jason and Jessica have taken ____ many flights to see each other during long distance and talked a total of about _____ hours on Facetime</li>
                <li>Jason and Jessica have been to Canada, Mexico, Galapagos (Ecuador), and Peru together</li>
            </ul>
        </div>
    </div>
    <app-login></app-login>
    <app-footer></app-footer>
</div>